<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="HistoryFilePath" value="D:\Project Documents\ASH\TEST\Tushar\InterviewTest.DriverData\CannedData\History.json"/>  
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>